summary {
  display: block;
  cursor: pointer;
  outline: 0; 
}

summary::-webkit-details-marker {
   display: none;
}

.tree-nav__item {
  display: block;
  white-space: nowrap;
  position: relative;
}

.tree-nav__item.is-expandable::before {
  content: "";
  height: 100%;
  left: 0.8rem;
  position: absolute;
  top: 2.4rem;
  height: calc(100% - 2.4rem);
}

.tree-nav__item .tree-nav__item {
  margin-left: 2.4rem;
}

.tree-nav__item.is-expandable[open] > .tree-nav__item-title::before,
.tree-nav__item.is-expandable[open] > .tree-nav__item-item::before {
  font-family: "bootstrap-icons";
  transform: rotate(90deg);
}

.tree-nav__item.is-expandable > .tree-nav__item-title,
.tree-nav__item.is-expandable > .tree-nav__item-item {
  padding-left: 2.4rem;
}

.tree-nav__item.is-expandable > .tree-nav__item-title::before,
.tree-nav__item.is-expandable > .tree-nav__item-item::before {
  position: absolute;
  will-change: transform;
  transition: transform 300ms ease;
  font-family: "bootstrap-icons";
  font-size: 1.1rem;
  content: "\F231";
  left: 0;
  display: inline-block;
  width: 1.6rem;
  text-align: center;
}

.tree-nav__item-title {
  cursor: pointer;
  display: block;
  outline: 0;
  font-size: 1.3rem;
  line-height: 2.6rem;
}

.tree-nav__item-item {
  cursor: pointer;
  display: block;
  outline: 0;
}

.tree-nav__item-title::-webkit-details-marker {
  display: none;
}