summary {
  display: block;
  cursor: pointer;
  outline: 0; 
}

summary::-webkit-details-marker {
   display: none;
}

.accordion {
  display: block;
  white-space: nowrap;
  position: relative;
}

.accordion.is-expandable::before {
  content: "";
  height: 100%;
  left: 0.8rem;
  position: absolute;
  top: 2.4rem;
  height: calc(100% - 2.4rem);
}

.accordion .accordion {
  margin-left: 2.4rem;
}

.accordion.is-expandable[open] > .accordion__title::before,
.accordion.is-expandable[open] > .accordion__subtitle::before {
  font-family: "bootstrap-icons";
  transform: rotate(90deg);
}

.accordion.is-expandable > .accordion__title,
.accordion.is-expandable > .accordion__subtitle,
.accordion.is-expandable > .accordion__item {
  padding-left: 2.4rem;
}

.accordion.is-expandable > .accordion__title::before,
.accordion.is-expandable > .accordion__subtitle::before {
  position: absolute;
  will-change: transform;
  transition: transform 300ms ease;
  font-family: "bootstrap-icons";
  font-size: 1.1rem;
  content: "\F231";
  left: 0;
  display: inline-block;
  width: 1.6rem;
  text-align: center;
}

.accordion__title {
  cursor: pointer;
  display: block;
  outline: 0;
  font-size: 1.4rem;
  line-height: 2.6rem;
}

.accordion__subtitle {
  cursor: pointer;
  display: block;
  outline: 0;
  font-size: 1.2rem;
  line-height: 2.6rem;
}

.accordion__item {
  cursor: pointer;
  display: block;
  outline: 0;
}

.accordion__title::-webkit-details-marker {
  display: none;
}