body {
   margin: auto;
   font-family: 'Gloria Hallelujah', cursive;
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   font-display: fallback;
   letter-spacing: 0.05em;
   line-height: 2;
   background-color: #1C2833;
   color: snow;
}

article {
   padding: 15px 20px 40px;
   max-width: 1200px;
   margin: 0 auto;
}

a,
a:hover,
a:visited {
   color: inherit;
   text-decoration: none;
   outline: none;
}

a.textlink {
   box-shadow: 0 -6px snow inset;
}

h1 {
   font-size: 1.8rem;
   margin: 0;
}

h2 {
   font-size: 1.3rem;
}

.fi {
   border-radius: 25%;
}

@media (max-width: 600px) {
   body {
      font-size: 19px;
      letter-spacing: 0.05em;
   }

   article {
      padding: 5px 16px 40px;
   }
}